*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans",Arial;
	font-size: 16px;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/*----HEADER----*/

header{
	width: 100%;
	background: #281a0c;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}

header .contenedor{
	position: relative;
	height: 700px;
}

header .menu{
	width: 100%;
	text-align: right;
}

header .menu a{
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	position: relative;
	margin: 40px 20px;
	text-decoration: none;
}

header .menu a:hover{
	text-decoration: underline;
}

header .textos{
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top:-52px ;
}

header .textos .nombre{
	font-size: 50px;
	font-weight: 600;
}


header .textos h3{
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

/*---MAIN---*/

.main{
	background: url('img//bg-textura.png');
	background-repeat: repeat;
}

.main .que-es .contenedor{
	overflow: visible;
	position: relative;
}

.main .que-es .foto{
	width: 80%;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 0;
	box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.main .que-es .foto img{
	vertical-align: top;
	width: 100%;
}

.main .que-es article{
	background: #fff;
	padding: 40px;
	width: 50%;
	position: relative;
	top: 500px;
	z-index: 1;
	float: right;
	box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.main .que-es article h3{
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .que-es article p{
	line-height: 28px;
	margin-bottom: 15px;
}

.main .mitos{
	padding-top: 570px;
	margin-bottom: 70px;
    
}

.main .mitos .titulo{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .mitos .contenedor-mitos{
    width: 100%;
	border: 3px solid #000;
	background: transparent;
	padding: 10px;
	overflow: hidden;
}

.main .mitos article{
	width: 100%;
	padding: 30px;
}


.main .mitos .mito{
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px solid #000;
	overflow: hidden;
  
}

.main .mitos .nombre{
	font-size: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.main .mitos .descripcion{
	font-size: 16px;
	color: #676767;
	clear: both;
    text-align: center;
}

.main .galeria{
	overflow: hidden;
}

.main .galeria .foto{
	width: 25%;
	float: left;
}

.main .galeria .foto img{
	width: 100%;
	vertical-align: top;
	opacity: .7;
}

.main .galeria .foto img:hover{
	opacity: 1;
	transition: all .3s ease;
}

.main .consecuencias{
	padding-top: 200px;
	margin-bottom: 100px;
    
}

.main .consecuencias .titulo{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .consecuencias .contenedor-consecuencias{
    width: 100%;
	border: 3px solid #000;
	background: transparent;
	padding: 10px;
	overflow: hidden;
}

.main .consecuencias article{
	width: 100%;
	padding: 30px;
}


.main .consecuencias .consecuencia{
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px dotted #000;
	overflow: hidden;
  
}

.main .consecuencias .nombre{
	font-size: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.main .referencias{
	background: #fff;
	padding: 60px 0;
	overflow: hidden;
}

.main .referencias .titulo{
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .referencias .contenedor-referencias{
	width: 100%;
	text-align: center;
}


/*--FOOTER--*/
footer{
	background: #000;
}

footer .copyright{
	color: #fff;
	text-align: center;
	padding: 15px 0;
}

/*--- MEDIA QUERIES ----*/

@media screen and (max-width: 800px){
	header .contenedor{
		position: static;
		height: auto;
	}

	

	header .menu{
		text-align: center;
		width: 100%;
	}

	header .menu a{
		margin: 10px 15px;
		font-size: 15px;
	}

	header .textos{
		position: static;
		margin: 100px 0;
		text-align: center;
	}

	header .textos .nombre{
		font-size: 30px;
	}

	header .textos h3{
		font-size: 18px;
	}

	.main .que-es .foto{
		width: 100%;
		position: relative;
	}

	.main .que-es article{
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px,0);
	}

	.main .mitos{
		padding-top: 300px;
	}

	.main .mitos article{
		width: 100%;
	}

	.main .galeria .foto{
		width: 50%;
	}

	
}

@media screen and (max-width: 420px){
	header .contenedor{
		width: 400px;
	}

	header .menu{
		width: 100%;
	}

	.main .que-es article h3{
		font-size: 34px;
		margin-bottom: 10px;
	}

	.main .mitos article .nombre{
		font-size: 16px;
		line-height: 16px;
	}
	
	.main.mitos article.descripcion{
        font-size: 14px;
        line-height: 14px;
    }

	.main .consecuencias article .nombre{
		font-size: 16px;
		line-height: 16px;
	}

	.main .referencias .titulo{
		font-size: 30px;
		line-height: 30px;
	}

	.main .referencias .contenedor-referencias p{
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 15px;
		text-align: center;
	}

}